<launch>
  <!-- Spawn Task-2 Models in Gazebo -->
    <include file="$(find pkg_vb_sim)/launch/task4_simulation.launch" />
	
	<!-- Launch two move_group nodes for the two UR5 Arms -->
  <include file="$(find pkg_vb_sim)/launch/two_ur5_move_group.launch" /> 
  
  <!-- This node is for implementing task4. This node is responsible for picking the packages from the shelf and
  	placing them on the conveyor belt.   -->
	<node name= "node_ur5_1_pick" pkg= "pkg_task4" type="node_ur5_1_pick.py" output="screen"/> 
 
 <!-- This node is for implementing task4. This node is responsible for picking the packages from the conveyor belt and
 	dropping them on respective bins.   -->
	<node name= "node_ur5_2_place" pkg= "pkg_task4" type="node_ur5_2_place.py" output="screen"/> 
  
  <!-- Recording Bag File for Submission -->
    <arg name="record" default="false"/>
    <arg name="rec_name" default="task4.bag"/>

    <group if="$(arg record)">
        <node name="rosbag_record_pick" pkg="rosbag" type="record"
       args="record -O $(find pkg_task4)/bag_files/$(arg rec_name) --chunksize=10 /eyrc/vb/ur5_1/vacuum_gripper/logical_camera/ur5_1" output="screen"/>
 </group>

 

</launch>
