<launch>


    <!-- Run the Online Order Placer Node -->
    <rosparam file ="$(find pkg_vb_sim)/config/config_online_order.yaml"/>
    <node name= "node_online_order_placer" pkg= "pkg_vb_sim" type="node_online_order_placer.py" output="screen"/>
    
    <rosparam file="$(find pkg_ros_iot_bridge )/config/config_pyiot.yaml"/>
    <node name= "node_ros_iot_bridge" pkg="pkg_ros_iot_bridge" type="node_ros_iot_bridge.py" output="screen"/>
    
    
	
</launch>
