<launch>

	<!-- Spawn Task-2 Models in Gazebo -->
    <include file="$(find pkg_vb_sim)/launch/task5_world.launch" />

    <!-- Spawn T5 Boxes -->
    <rosparam file ="$(find pkg_vb_sim)/config/config_package_colour.yaml"/>
    <node name= "task5_spawn_models" pkg= "pkg_vb_sim" type="task5_spawn_models.py"/>
    

	<include file="$(find pkg_vb_sim)/launch/two_ur5_move_group.launch" />
	
	<arg name="node_start_delay_1" default="50.0" />
	<arg name="node_start_delay_2" default="60.0" />
	<arg name="node_start_delay_3" default="100.0" />
	<arg name="node_start_delay_4" default="130.0" />
    

	
    <!-- Spawn two UR5 in Gazebo -->
    <include file = "$(find pkg_vb_sim)/launch/two_ur5_gazebo.launch"/>
    
    <rosparam file ="$(find pkg_task5)/config/config_item_info.yaml"/>
    
    <!---->
    <rosparam file="$(find pkg_ros_iot_bridge )/config/config_pyiot.yaml"/>
    <node name= "node_ros_iot_bridge" pkg="pkg_ros_iot_bridge" type="node_ros_iot_bridge.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_1); $0 $@' " />     
    
    <rosparam file="$(find pkg_task5 )/config/config_pkg_color.yaml"/>
    <node name= "node_package_color_detector" pkg="pkg_task5" type="node_package_color_detector.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_2); $0 $@'" />     
    
    <!-- Run Conveyor Belt Service Server -->
    <node name= "node_service_server_conveyor_belt" pkg= "pkg_vb_sim" type="node_service_server_conveyor_belt.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_3); $0 $@'" />   
    
    
     <node name="node_control_ur5_2_and_belt" pkg="pkg_task5" type="node_control_ur5_2_and_belt.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_3);  $0 $@'" /> 
	
	<node name="node_control_ur5_1" pkg="pkg_task5" type="node_control_ur5_1.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_3);  $0 $@'" />
    

    <!-- Run the Online Order Placer Node -->
    <rosparam file ="$(find pkg_vb_sim)/config/config_online_order.yaml"/>    
    <node name= "node_online_order_placer" pkg= "pkg_vb_sim" type="node_online_order_placer.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_4); $0 $@'" /> 
    
    <node name="node_update_spreadsheets" pkg="pkg_task5" type="node_update_spreadsheets.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_4);  $0 $@'" />  
    
     
</launch>
